<!DOCTYPE html>
<html ng-app="teacherHelper" ng-strict-di>
<head lang="en">
  <meta charset="UTF-8">
  <title></title>
</head>
<style>
  .highlight {
    background-color: lightgreen;
  }
</style>
<body ng-controller="PercentageController as percentage">

<input type="number" ng-model="percentage.correct"> /
<input type="number" ng-model="percentage.outOf">
= {{percentage.calculate(percentage.correct, percentage.outOf, 0)}}%
<br>
<input type="checkbox" ng-model = "percentage.showHalfColumn"> show scores in 0.5 step increments

<table border="1" cellspacing="0">
  <thead>
  <tr>
    <th># correct</th>
    <th>score</th>
    <th style="font-weight: lighter; color: #777777" ng-if="percentage.showHalfColumn">+.5</th>
  </tr>
  </thead>
  <tr ng-repeat="score in percentage.column(percentage.outOf, 0) track by $index" ng-class="{highlight:$index == percentage.correct}">
    <td style="text-align: right; padding-right: 10px; font-weight: bold">{{$index}}</td>
    <td style="text-align: right; padding-left: 10px; padding-right: 10px; font-weight: bold">{{score}}%</td>
    <td style="font-size: smaller; font-weight:lighter; color: #777777; text-align: right; padding-left: 10px; padding-right: 10px"
        ng-if="percentage.showHalfColumn && !$last">
      {{percentage.calculate($index + 0.5, percentage.outOf, 0)}}%
    </td>
  </tr>
</table>

Enter the number of questions in the text box above on the right.
This will create a table showing percentages for every score.
If you give partial credit for effort, you may want to check the "0.5 step increments" checkbox.

You can type the number of correct answers for a particular student in the left text box, and that
score will be shown (useful for tests with so many questions the chart will not fit on the page)




<script src="/dist/js/0.0.1.teacher-helper.js"></script>
</body>
</html>